<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pick Difficulty</title>
    <link rel="stylesheet" href="static/css/game_difficulty.css" />
  </head>
  <body>
    <div class="back-button-container">
      <a href="/" id="back-button" class="back-button">← Back</a>
    </div>
    <h1>Pick Your Difficulty</h1>
    <div class="difficulty-container">
      <button class="difficulty-btn easy" data-difficulty="Easy">Easy</button>
      <button class="difficulty-btn medium" data-difficulty="Medium">
        Medium
      </button>
      <button class="difficulty-btn hard" data-difficulty="Hard">Hard</button>
      <button class="difficulty-btn extreme" data-difficulty="Extreme">
        Extreme
      </button>
    </div>

    <script src="static/js/game_difficulty.js"></script>
  </body>
</html>
